<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<filter>
		<filter-name>Fvalidate</filter-name>
		<display-name>Fvalidate</display-name>
		<description></description>
		<filter-class>com.filter.Fvalidate</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Fvalidate</filter-name>
		<url-pattern>/freg</url-pattern>
	</filter-mapping>
  <servlet>
  	<servlet-name>AddServlet</servlet-name>
  	<display-name>AddServlet</display-name>
  	<description>addition servlet</description>
  	<servlet-class>com.addproject.AddServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServletNeed</servlet-name>
  	<display-name>ServletNeed</display-name>
  	<description></description>
  	<servlet-class>com.ServletNeed</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServletDoget</servlet-name>
  	<display-name>ServletDoget</display-name>
  	<description></description>
  	<servlet-class>com.addproject.ServletDoget</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServletDopost</servlet-name>
  	<display-name>ServletDopost</display-name>
  	<description></description>
  	<servlet-class>com.addproject.ServletDopost</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description>login form</description>
  	<servlet-class>com.collaboration.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WelcomeServlet</servlet-name>
  	<display-name>WelcomeServlet</display-name>
  	<description></description>
  	<servlet-class>com.collaboration.WelcomeServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RdForward</servlet-name>
  	<display-name>RdForward</display-name>
  	<description>learn forward</description>
  	<servlet-class>com.collaboration.RdForward</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RdForward2</servlet-name>
  	<display-name>RdForward2</display-name>
  	<description></description>
  	<servlet-class>com.collaboration.RdForward2</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RdInclude1</servlet-name>
  	<display-name>RdInclude1</display-name>
  	<description></description>
  	<servlet-class>com.collaboration.RdInclude1</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RdInculde2</servlet-name>
  	<display-name>RdInculde2</display-name>
  	<description></description>
  	<servlet-class>com.collaboration.RdInculde2</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServletSendRedirect</servlet-name>
  	<display-name>ServletSendRedirect</display-name>
  	<description></description>
  	<servlet-class>com.collaboration.ServletSendRedirect</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Cookie1</servlet-name>
  	<display-name>Cookie1</display-name>
  	<description></description>
  	<servlet-class>com.tracking.Cookie1</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Cookie2</servlet-name>
  	<display-name>Cookie2</display-name>
  	<description></description>
  	<servlet-class>com.tracking.Cookie2</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Hidden1</servlet-name>
  	<display-name>Hidden1</display-name>
  	<description></description>
  	<servlet-class>com.tracking.Hidden1</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Hidden2</servlet-name>
  	<display-name>Hidden2</display-name>
  	<description></description>
  	<servlet-class>com.tracking.Hidden2</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UrlRewirte1</servlet-name>
  	<display-name>UrlRewirte1</display-name>
  	<description></description>
  	<servlet-class>com.tracking.UrlRewirte1</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UrlRewrite2</servlet-name>
  	<display-name>UrlRewrite2</display-name>
  	<description></description>
  	<servlet-class>com.tracking.UrlRewrite2</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Session1</servlet-name>
  	<display-name>Session1</display-name>
  	<description></description>
  	<servlet-class>com.tracking.Session1</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Session2</servlet-name>
  	<display-name>Session2</display-name>
  	<description></description>
  	<servlet-class>com.tracking.Session2</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServletConfigExample</servlet-name>
  	<display-name>ServletConfigExample</display-name>
  	<description></description>
  	<servlet-class>com.configandcontext.ServletConfigExample</servlet-class>
  	<init-param>
  	<param-name>name</param-name>
  	<param-value>Ajay</param-value>
  	</init-param>
  </servlet>
  <servlet>
  	<servlet-name>ServletConfigExample1</servlet-name>
  	<display-name>ServletConfigExample1</display-name>
  	<description></description>
  	<servlet-class>com.configandcontext.ServletConfigExample1</servlet-class>
  	<init-param>
  	<param-name>rollno</param-name>
  	<param-value>101</param-value>
  	</init-param>
  	<init-param>
  	<param-name>name</param-name>
  	<param-value>Vijay</param-value>
  	</init-param>
  </servlet>
  <servlet>
  	<servlet-name>ServletContextExample</servlet-name>
  	<display-name>ServletContextExample</display-name>
  	<description></description>
  	<servlet-class>com.configandcontext.ServletContextExample</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServletContextExample1</servlet-name>
  	<display-name>ServletContextExample1</display-name>
  	<description></description>
  	<servlet-class>com.configandcontext.ServletContextExample1</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AddServlet</servlet-name>
  	<url-pattern>/add</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletNeed</servlet-name>
  	<url-pattern>/need</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletDoget</servlet-name>
  	<url-pattern>/addDoget</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletDopost</servlet-name>
  	<url-pattern>/addDopost</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WelcomeServlet</servlet-name>
  	<url-pattern>/welcome</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RdForward</servlet-name>
  	<url-pattern>/rd1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RdForward2</servlet-name>
  	<url-pattern>/rd2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RdInclude1</servlet-name>
  	<url-pattern>/rd3</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RdInculde2</servlet-name>
  	<url-pattern>/rd4</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletSendRedirect</servlet-name>
  	<url-pattern>/send</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Cookie1</servlet-name>
  	<url-pattern>/ck1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Cookie2</servlet-name>
  	<url-pattern>/ck2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Hidden1</servlet-name>
  	<url-pattern>/hd1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Hidden2</servlet-name>
  	<url-pattern>/hd2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UrlRewirte1</servlet-name>
  	<url-pattern>/url1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UrlRewrite2</servlet-name>
  	<url-pattern>/url2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Session1</servlet-name>
  	<url-pattern>/s1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Session2</servlet-name>
  	<url-pattern>/s2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletConfigExample</servlet-name>
  	<url-pattern>/sconfig</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletConfigExample1</servlet-name>
  	<url-pattern>/sconfig1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletContextExample</servlet-name>
  	<url-pattern>/scontext</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletContextExample1</servlet-name>
  	<url-pattern>/scontext1</url-pattern>
  </servlet-mapping>
  
  <context-param>
  <param-name>status</param-name>
  <param-value>Comman data shared to all servlet</param-value>
  </context-param>
  
  <servlet>
  	<servlet-name>configjsp</servlet-name>
  	<description></description>
  	<jsp-file>/config.jsp</jsp-file>
  	<init-param>
  	<param-name>dname</param-name>
  	<param-value>JAVA</param-value>
  	</init-param>
  </servlet>
  <servlet>
  	<servlet-name>CoutTag</servlet-name>
  	<display-name>CoutTag</display-name>
  	<description></description>
  	<servlet-class>com.jstltags.CoutTag</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>configjsp</servlet-name>
  	<url-pattern>/configobj</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CoutTag</servlet-name>
  	<url-pattern>/cout</url-pattern>
  </servlet-mapping>
  
</web-app>
